<extend name="Public/base" />

<block name="page-header">
<!-- BEGIN PAGE HEADER-->
<div class="row-fluid">
	<div class="span12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->	
		<h3 class="page-title">
			管理控制台			
			<small>&nbsp;&nbsp;统计信息及其他</small>
		</h3>
		<ul class="breadcrumb">
			<li>
				<i class="icon-home"></i>
				<a href="">首页</a> 
				<i class="icon-angle-right"></i>
			</li>
			<li><a href="">管理控制台</a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->	
</block>

<block name="page-content">
<div id="dashboard">
<div class="clearfix"></div>
<div class="row-fluid">
	<div class="span6">
		<!-- BEGIN PORTLET-->
		<div class="portlet solid bordered light-grey">
			<div class="portlet-title">
				<h4><i class="icon-bar-chart"></i>站点访客统计	</h4>
				<div class="tools">
					<div class="btn-group pull-right" data-toggle="buttons-radio">
						<a href="javascript:;" class="btn mini">用户</a>
						<a href="javascript:;" class="btn mini active">反馈</a>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div id="site_statistics_loading">
					<img src="__METRONIC__/assets/img/loading.gif" alt="loading" />
				</div>
				<div id="site_statistics_content" class="hide">
					<div id="site_statistics" class="chart"></div>
				</div>
			</div>
		</div>
		<!-- END PORTLET-->
	</div>
	<div class="span6">
		<!-- BEGIN PORTLET-->
		<div class="portlet solid light-grey bordered">
			<div class="portlet-title">
				<h4><i class="icon-bullhorn"></i>活跃度统计</h4>
				<div class="tools">
					<div class="btn-group pull-right" data-toggle="buttons-radio">
						<a href="javascript:;" class="btn blue mini active">用户</a>
						<a href="javascript:;" class="btn blue mini">排序</a>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div id="site_activities_loading">
					<img src="__METRONIC__/assets/img/loading.gif" alt="loading" />
				</div>
				<div id="site_activities_content" class="hide">
					<div id="site_activities" style="height:100px;"></div>
				</div>
			</div>
		</div>
		<!-- END PORTLET-->
		<!-- BEGIN PORTLET-->
		<div class="portlet solid bordered light-grey">
			<div class="portlet-title">
				<h4><i class="icon-signal"></i>服务器加载统计</h4>
				<div class="tools">
					<div class="btn-group pull-right" data-toggle="buttons-radio">
						<a href="javascript:;" class="btn red mini active">
						<span class="hidden-phone">数据库</span>
						<span class="visible-phone">DB</span></a>
						<a href="javascript:;" class="btn red mini">网页</a>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div id="load_statistics_loading">
					<img src="__METRONIC__/assets/img/loading.gif" alt="loading" />
				</div>
				<div id="load_statistics_content" class="hide">
					<div id="load_statistics" style="height:108px;"></div>
				</div>
			</div>
		</div>
		<!-- END PORTLET-->
		</div>
	</div>
</div>
</block>