<!-- BEGIN SIDEBAR -->
<div class="page-sidebar nav-collapse collapse">
<!-- BEGIN SIDEBAR MENU -->        	
<ul>
	<li>
		<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		<div class="sidebar-toggler hidden-phone"></div>
		<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
	</li>
	<li>
		<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
		<form class="sidebar-search">
			<div class="input-box">
				<a href="javascript:;" class="remove"></a>
				<input type="text" placeholder="搜索..." />				
				<input type="button" class="submit" value=" " />
			</div>
		</form>
		<!-- END RESPONSIVE QUICK SEARCH FORM -->
	</li>
	<li class="start <if condition="CONTROLLER_NAME eq 'Index'">active</if>">
		<a href="{:U('Index/index')}">
		<i class="icon-home"></i> 
		<span class="title">管理控制台</php></span>
		<span class="selected"></span>
		</a>
	</li>
	<li class="has-sub <if condition="CONTROLLER_NAME eq 'Rbac'">active</if>">
		<a href="javascript:;">
		<i class="icon-bookmark-empty"></i> 
		<span class="title">权限管理</span>
		<span class="arrow "></span>
		</a>
		<ul class="sub">
			<li class="<if condition="ACTION_NAME eq 'addRole'">active</if>"><a href="{:U('Rbac/addRole')}">添加角色</a></li>
			<li class="<if condition="ACTION_NAME eq 'roleList'">active</if>"><a href="{:U('Rbac/roleList')}">角色管理</a></li>
			<li class="<if condition="ACTION_NAME eq 'addNode'">active</if>"><a href="{:U('Rbac/addNode')}">添加权限</a></li>
			<li class="<if condition="ACTION_NAME eq 'nodeList'">active</if>"><a href="{:U('Rbac/nodeList')}">权限管理</a></li>
			<li class="<if condition="ACTION_NAME eq 'addUser'">active</if>"><a href="{:U('Rbac/addUser')}">添加用户</a></li>
			<li class="<if condition="ACTION_NAME eq 'userList'">active</if>"><a href="{:U('Rbac/userList')}">用户管理</a></li>
		</ul>
	</li>
	<li class="has-sub ">
		<a href="javascript:;">
		<i class="icon-table"></i> 
		<span class="title">文章管理</span>
		<span class="arrow "></span>
		</a>
		<ul class="sub">
			<li ><a href="form_layout.html">发布文章</a></li>
			<li ><a href="form_samples.html">删除文章</a></li>
			<li ><a href="form_component.html">修改文章</a></li>
		</ul>
	</li>
	<li class="has-sub ">
		<a href="javascript:;">
		<i class="icon-th-list"></i> 
		<span class="title">安全处理</span>
		<span class="arrow "></span>
		</a>
		<ul class="sub">
			<li ><a href="table_basic.html">安全退出</a></li>
		</ul>
	</li>
</ul>
<!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->